In [106]:
import pandas as pd

In [107]:
papas_g1 = pd.read_csv('../Data/papas_g1_diaria.csv')
papas_g2 = pd.read_csv('../Data/papas_g2_diaria.csv')

papas_procedencia_g1 = pd.read_csv('../Data/papas_procedencia_g1_diaria.csv')
papas_procedencia_g2 = pd.read_csv('../Data/papas_procedencia_g2_diaria.csv')

petroleo = pd.read_csv('../Data/precio_petroleo_diario.csv')

temperatura = pd.read_csv('../Data/temperatura_automatico.csv')

In [108]:
dataProcedenciaJunin_g1 = papas_procedencia_g1[papas_procedencia_g1["procedencia"] == "JUNIN"][["cantidad (TM)", "date"]]
dataProcedenciaJunin_g1["date"] = pd.to_datetime(dataProcedenciaJunin_g1["date"], format="%Y-%m-%d")
dataProcedenciaJunin_g1 = dataProcedenciaJunin_g1.groupby('date').sum().reset_index()

dataProcedenciaJunin_g2 = papas_procedencia_g2[papas_procedencia_g2["procedencia"] == "JUNIN"][["cantidad (TM)", "date"]]
dataProcedenciaJunin_g2["date"] = pd.to_datetime(dataProcedenciaJunin_g2["date"], format="%Y-%m-%d")
dataProcedenciaJunin_g2 = dataProcedenciaJunin_g2.groupby('date').sum().reset_index()

papas_g1["date"] = pd.to_datetime(papas_g1["date"], format="%Y-%m-%d")
papas_g2["date"] = pd.to_datetime(papas_g2["date"], format="%Y-%m-%d")

In [109]:
papas_g1 = papas_g1[['producto','precio_mean','date']]
papas_g2 = papas_g2[['producto','precio_mean','date']]

In [110]:
dates = pd.DataFrame(papas_g1['date'].unique(), columns=['date']).set_index('date').resample('D').asfreq().index
productos = papas_g1['producto'].unique()
idx = pd.MultiIndex.from_product((dates, productos), names=['dates', 'producto'])
papas_g1_completo = papas_g1.set_index(['date', 'producto']).reindex(idx, fill_value=0).reset_index()
papas_g1_completo['precio_mean'] = papas_g1_completo['precio_mean'].replace(to_replace=0, method='ffill')

dates = pd.DataFrame(papas_g2['date'].unique(), columns=['date']).set_index('date').resample('D').asfreq().index
productos = papas_g2['producto'].unique()
idx = pd.MultiIndex.from_product((dates, productos), names=['dates', 'producto'])
papas_g2_completo = papas_g2.set_index(['date', 'producto']).reindex(idx, fill_value=0).reset_index()
papas_g2_completo['precio_mean'] = papas_g2_completo['precio_mean'].replace(to_replace=0, method='ffill')

In [117]:
papas_g1_completo.to_csv('../Data/Processed/papas_g1.csv', index=False)
papas_g2_completo.to_csv('../Data/Processed/papas_g2.csv', index=False)

dataProcedenciaJunin_g1.to_csv('../Data/Processed/procedencia_g1.csv', index=False)
dataProcedenciaJunin_g2.to_csv('../Data/Processed/procedencia_g2.csv', index=False)

In [120]:
dataProcedenciaJunin_g1

            cantidad (TM)
date
2015-01-01              0
2015-01-02              0
2015-01-03              0
2015-01-04              0
2015-01-05             10
...                   ...
2022-08-27            132
2022-08-28             51
2022-08-29              0
2022-08-30              0
2022-08-31              0

[2800 rows x 1 columns]

In [113]:
papas_g1_completo.head()

       dates                                  producto  precio_mean
0 2013-12-01                             PAPA AMARILLA         1.53
1 2013-12-01  PAPA HUAYRO (ROJO-MORO-NEGRO)RUNT/MARH/U         1.64
2 2013-12-01                          PAPA HUAMANTANGA         1.24
3 2013-12-01                  PAPA PERUANITA (INJERTO)         1.34
4 2013-12-02                             PAPA AMARILLA         1.55